<div style="width:30%; margin-left:20%; margin-top:5%">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

    <div class="form-group" *ngFor="let field of formFields">
      <label for={{field.id}}>{{field.label}}</label>

      <input value={{field.defaultValue}} placeholder={{field.defaultValue}} class="form-control" type="text"
        name={{field.id}} ngModel *ngIf="field.type.name=='string' && field.id!='correctionFormDeadline'">
        <input value={{field.defaultValue}} placeholder={{field.defaultValue}} class="form-control" type="date"
        name={{field.id}} ngModel *ngIf="field.type.name=='string' && field.id=='correctionFormDeadline'">
      <input class="form-control" type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
      <input value={{field.defaultValue}} placeholder={{field.defaultValue}} class="form-control" type="number"
        name={{field.id}} ngModel *ngIf="field.type.name=='long'">
    </div>


    <input class="btn btn-success" type="submit">
  </form><br>
</div>