<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  
  <a class="navbar-brand" [routerLink]="['/']" >Home</a> 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/registrate']">Register<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/newMagazine']">New Magazine</a>
      <a class="nav-item nav-link" [routerLink]="['/adminTasks']">Admin's Tasks</a>
      <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>