<div id="velikiDiv" >
<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>

  <div class="form-group" *ngFor="let field of formFields">
    <label for={{field.id}}>{{field.label}}</label>

    <input class="form-control" type="text" name={{field.id}} ngModel *ngIf="field.type.name=='string' && field.id!='workFormPdf'">
    <input class="form-control" (change)="handleFileInput($event.target.files)" type="file" name={{field.id}} ngModel accept=".pdf" *ngIf="field.type.name=='string' && field.id=='workFormPdf'">
    <input class="form-control" type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
    <input class="form-control" type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
    <div *ngIf="field.type.name=='enum'" >
      <ng-multiselect-dropdown name={{field.id}} [placeholder]="'Izaberi'" [data]="dropDownList" ngModel [settings]="dropdownSettings"
              (onDeSelect)="onItemDeSelect($event,field.type.name)" (onSelect)="onItemSelect($event,field.type.name)" value=selectedItems (onSelectAll)="onSelectAll($event,field.type.name)"
      ></ng-multiselect-dropdown>
  </div>
  </div>


  <input  class="btn btn-success" type="submit">
</form><br>
</div>